@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  min-height: 500px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 30px;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.custom-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
}

.task {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  background: lightgray;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;

  .reminder {
    border-left: 5px solid green;
  }

  i {
    color: red;
    font-size: 20px;
  }

  p:nth-child(1) {
    font-weight: 500;
    margin-bottom: 8px;
  }

  p:nth-child(2) {
    margin-bottom: 0;
  }
}

.add-task-btn {
  width: 100%;
}
